In [42]:
import pandas as pd

#Carga del dataset

startDataset = pd.read_csv('books.csv', on_bad_lines= 'skip')

startDataset.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [43]:
# Modificacion de columnas

# Eliminacion de columnas
newDataset = startDataset.drop(["bookID", "average_rating", "isbn", "isbn13", "language_code", "ratings_count", "text_reviews_count"], axis = 1)

# Visualizacion del tipo de dato "publication_date"
print("\n\nAntes")
print(newDataset.dtypes)

# Si encuentra un error en el formato de la fecha elimina la fecha
print("\n\nAhora")
newDataset["publication_date"] = pd.to_datetime(newDataset["publication_date"], format = '%m/%d/%Y', errors = 'coerce')
print(newDataset.dtypes)

# Modificacion de la columna "publication_date" al formato YYYY
newDataset["publication_date"] = newDataset["publication_date"].dt.strftime('%Y')

# Si hubo un error en publication_date va a eliminar la fila si esta vacia
newDataset = newDataset.drop(newDataset[newDataset["publication_date"] == "NaN"].index)

newDataset.head()

Antes
title               object
authors             object
  num_pages          int64
publication_date    object
publisher           object
dtype: object


Ahora

title                       object
authors                     object
  num_pages                  int64
publication_date    datetime64[ns]
publisher                   object
dtype: object

,title,authors,num_pages,publication_date,publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,652,2006,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,870,2004,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,352,2003,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,435,2004,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,2690,2004,Scholastic

In [44]:
# Creacion de tablas de libros para su uso en la base de datos

# Dataframe libro
dfLibro = pd.DataFrame(columns = ["idEditorial", "idAutor", "nombre", "costo", "numPaginas", "anhoPublicado"])
# Dataframe autor
dfAutor = pd.DataFrame(columns = ["idAutor", "nombresApellidos"])

# Dataframe editorial
dfEditorial = pd.DataFrame(columns = ["idEditorial", "nombre"])

dfLibro.head()
dfAutor.head()
dfEditorial.head()

Empty DataFrame
Columns: [idEditorial, nombre]
Index: []

In [45]:
# Ingreso de datos en las tabla autor
dfAutor = dfAutor.set_index("idAutor")
dfAutor["nombresApellidos"] = newDataset["authors"]
dfAutor.drop_duplicates(subset=["nombresApellidos"], inplace=True)
dfAutor = dfAutor.reset_index(drop=True)
dfAutor.index.name = "idAutor"
dfAutor.index = dfAutor.index + 1

dfAutor.head()

                   nombresApellidos
idAutor
1        J.K. Rowling/Mary GrandPré
2                      J.K. Rowling
3            W. Frederick Zimmerman
4                     Douglas Adams
5         Douglas Adams/Stephen Fry

In [46]:
# Ingreso de datos en las tabla editorial

dfEditorial = dfEditorial.set_index("idEditorial")
dfEditorial["nombre"] = newDataset["publisher"]
dfEditorial.drop_duplicates(subset=["nombre"], inplace=True)
dfEditorial = dfEditorial.reset_index(drop=True)
dfEditorial.index.name = "idEditorial"
dfEditorial.index = dfEditorial.index + 1

dfEditorial.head()

                      nombre
idEditorial
1            Scholastic Inc.
2                 Scholastic
3               Nimble Books
4             Gramercy Books
5              Del Rey Books

In [ ]:
dfLibro = dfLibro.set_index("idLibro")
dfLibro["nombre"] = newDataset["title"]
dfLibro["numPaginas"] = newDataset["num_pages"]
dfLibro["anhoPublicado"] = newDataset["publication_date"]

dfLibro["autor"] = newDataset["authors"]
dfLibro["editorial"] = newDataset["publisher"]

dfLibro.